body {
  background-color: #DFE7DF;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333431;
  color: #DFE7DF;
}

.header-item {
  padding: 10px 15px 10px 15px;
  font-family: 'Montserrat', sans-serif;
}

.header-item:hover {
  background-color: #3e403c;
  cursor: pointer;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}