body {
  color: #333431;
  background-color: #DFE7DF;
}

.App {
  /*text-align: center;*/
}

.header-section {
  overflow: hidden;
  text-align: center;
}

.header-section .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #481380;
  background: -webkit-linear-gradient(315deg, #481380 0%,#742dd2 100%);
  background: -o-linear-gradient(315deg, #481380 0%,#742dd2 100%);
  background: linear-gradient(135deg, #481380 0%,#742dd2 100%);
  height: 93vh;
  width: 110%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  left: -3em;
  top: -3.3em;
  position: relative;
}

.header-section .bio {
  position: absolute;
  margin: 200px 0 0 200px;
}

.header-section .bio-name {
  /*margin: 200px 0 0 -200px;*/

  font-family: 'Pridi', serif;
  font-size: 68pt;
  font-weight: 600;
  transform: rotate(3deg);
  color: #B38CE6;
}

.header-section .bio-sub {
  /*margin: 0 0 auto -217px;*/
  /*font-family: 'Pridi', serif;*/
  /*font-size: 64pt;*/
  /*font-weight: 600;*/
  transform: rotate(3deg);
  color: #B38CE6;
  flex-grow: 5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.header-center {
  position: relative;
  top: 87vh;
  left: 66vw;
  font-family: 'VT323', monospace;
  font-size: 36pt;
  color: white;
  opacity: 0.4;
}

.header-center:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.header-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 15% 0 0 86%;
  transform: rotate(3deg);
}

.github-icon a,
.linkedin-icon a,
.gmail-icon a {
  fill: #fff;
  opacity: 0.3;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.github-icon:hover a,
.linkedin-icon:hover a,
.gmail-icon:hover a {
  cursor: pointer;
  fill: #fff;
  opacity: 0.4;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.github-text,
.linkedin-text,
.gmail-text {
  visibility: hidden;
  font-family: 'VT323', monospace;
  font-size: 19pt;
}

@keyframes github-slide {
  0%, 50% { opacity: 0; }
  100% { transform: translateX(-250%); visibility: visible; }
}

@keyframes linkedin-email-slide {
  0%, 50% { opacity: 0; }
  100% { transform: translateX(-220%); visibility: visible; }
}

.github-icon:hover .github-text {
  animation: github-slide 500ms ease-in-out forwards;
}

.linkedin-icon:hover .linkedin-text,
.gmail-icon:hover .gmail-text {
  animation: linkedin-email-slide 500ms ease-in-out forwards;
}
/*  end HEADER SECTION  */
/* ==================== */

/* ======================== */
/*  begin PROJECTS section  */
.projects-section {
  overflow: hidden;
  text-align: center;
  height: 76vh;
}

/*.projects-section .container {*/
  /*display: grid;*/
  /*grid-template-columns: 100px [col-start] repeat(3, 32% [col-start]) 100px [col-start];*/
  /*grid-column-gap: 25px;*/
  /*justify-items: center;*/
  /*justify-content: space-evenly;*/
  /*align-items: stretch;*/
/*}*/

/*.container .project {*/
  /*grid-column-start: 2;*/
  /*grid-column-end: 3;*/
/*}*/

.projects-section .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 50px 0 50px;
  width: 350px;
  height: 450px;
  background-color: #FAFAFA;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 1px 1px 16px -3px rgba(93,93,93,0.62);
  -moz-box-shadow: 1px 1px 16px -3px rgba(93,93,93,0.62);
  box-shadow: 1px 1px 16px -3px rgba(93,93,93,0.62);
  border: #efefef solid 1px;
}

.project-img {
  flex: 2 0 240px;
  background-color: white;
  max-height: 240px;
}

.project-img img {
  /*width: 100%;*/
  /*height: 240px;*/
  /*height: 100%;*/
  vertical-align: center;
}

.project-footer {
  flex: 1 0 100px;
  background-color: #f3f3f3;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-title {
  margin-top: 10px;
  font-size: 20pt;
  font-weight: 600;
  flex: 1 0 auto;
}

.project-desc {
  /*margin-top: 10px;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  padding: 10px;
  flex: 5 0 auto;
}

.project-chips {
  flex: 1 0 auto;
  padding: 5px;
  /*left: calc(50% - 3em);*/
}

/*  end PROJECTS section  */
/* ====================== */

/* ============================ */
/*  begin CONTACT FORM section  */

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 50px auto;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  /*height: 0;*/
  background-color: #3e403c;
  margin: 30px auto;
}

.show {
  height: 545px;
  visibility: visible;
  /*transition: all 1000ms ease-in-out;*/
}

.hide,
.hide form,
.hide input[type='text'],
.hide textarea,
.hide button {
  position: absolute;
  height: 0;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  transition: all 1000ms ease-in-out;
}

.contact-header-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36pt;
  font-weight: 900;
  text-align: center;
  width: fit-content;
  align-self: center;
  background: #481380;
  /*background: -webkit-linear-gradient(315deg, #481380 0%,#742dd2 100%);*/
  /*background: -o-linear-gradient(315deg, #481380 0%,#742dd2 100%);*/
  /*background: linear-gradient(135deg, #481380 0%,#742dd2 100%);*/
  padding: 18px;
  border-radius: 18px;
  color: #d5d0db;
}

.contact-header-text:hover {
  cursor: pointer;
  background-color: #602A9D;
  transition: 250ms ease-in-out;
}

.contact-form-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26pt;
  text-align: left;
  width: 100%;
  /* padding-left: 111px; */
  padding: 20px 0 20px 111px;
  color: white;
}

.contact-sub-text {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  text-align: left;
  width: 100%;
  /* padding: 24px 20px 20px 20px; */
  /* left: 24.2em; */
  padding-left: 111px;
  line-height: 1.7em;

}

.contact-form {
  width: 82%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.form input,
.form textarea {
  padding: 10px;
  margin-top: 15px;
}

.form textarea {
  height: 117px;
}

.form button {
  margin-top: 15px;
  border-radius: 10px;
  width: 80px;
  height: 38px;
  padding: 7px;
}